{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class='container'>

    <div class='container'>
        <h1>QuickReg</h1>
        {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
    </div>

    <!--Student View-->
    {% if user.user_type == 0 %}
        <div class='container'>
            <div class='col'>
                <div class='row'>
                    Your advising status is: 
                    <div class='alert alert-primary' role='alert'>{{ adv_message }}</div>
                </div>
                {% if user.was_denied == True %}
                <div class='row'>
                    <div class='alert alert-danger' role='alert'>
                        Your advising form was rejected, please resubmit!
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    {% if adv_status == 0 %}
                    <a href= {% url 'submit_advising' %} class='btn btn-primary' role='button'>Advising</a> 
                    {% else %}
                    <a href = {% url 'view_advising' %} class='btn btn-primary' role='button'>Advising</a>
                    {% endif %}
                </div>
                <div class='col'>
                    <a href={% url 'view_appointments' %} class='btn btn-primary' role='button'>Appointments</a>
                </div>
                <div class='col' id='courses'>
                    <a href={% url 'view_courses' %} class='btn btn-primary' role='button'>Courses</a>
                </div>
                <div class='col'>
                    <a href = {% url 'view_inbox' %} class='btn btn-primary' role='button'>Inbox
                        <span class="badge badge-light">{{ num_messages }}</span>
                    </a>
                </div>
                <div class='col'>
                    <a href="{% url 'logout' %}" class='btn btn-primary' role='button'>Log Out</a>
                </div>
            </div>
        </div>
    <!--end student view-->

    <!--teacher view-->
    {% elif user.user_type == 1 %}
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <a href={% url 'select_advising' %} class='btn btn-primary' role='button'>Advising
                        <span class='badge badge-light'>{{ num_advise }}</span>
                    </a>
                </div>    
                <div class='col' id='courses'>
                    <a href={% url 'view_courses' %} class='btn btn-primary' role='button'>Courses</a>
                </div>
                <div class='col'>
                    <a href = {% url 'view_inbox' %} class='btn btn-primary' role='button'>Inbox
                        <span class="badge badge-light">{{ num_messages }}</span>
                    </a>
                </div>
                <div class='col'>
                    <a href="{% url 'logout' %}" class='btn btn-primary' role='button'>Log Out</a>
                </div>
            </div>
        </div>
    <!--end teacher view-->

    <!--Crystal view-->
    {% elif user.user_type == 2 %}
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <a href={% url 'select_advising' %} class='btn btn-primary' role='button'>Advising
                        <span class='badge badge-light'>{{ num_advise }}</span>
                    </a>
                </div>   
                <div class='col' id='courses'>
                    <a href={% url 'view_courses' %} class='btn btn-primary' role='button'>Courses</a>
                </div>
                <div class='col'>
                    <a href={% url 'view_appointments' %} class='btn btn-primary' role='button'>Appointments</a>
                </div>
                <div class='col'>
                    <a href = {% url 'view_inbox' %} class='btn btn-primary' role='button'>Inbox
                        <span class="badge badge-light">{{ num_messages }}</span>
                    </a>
                </div>
                <div class='col'>
                    <a href="{% url 'logout' %}" class='btn btn-primary' role='button'>Log Out</a>
                </div>
            </div>
        </div>
    {% endif %}
    <!--end Crystal view-->

    {% else %}
        <div class='container'>
            <p>You are not logged in</p>
            <a href="{% url 'login' %}" class='btn btn-primary' role='button'>Login</a>
            <a href="{% url 'signup' %}" class='btn btn-primary' role='button'>Sign Up</a>
        </div>
        {% endif %}
</div>
</div>
{% endblock %}
