{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>QuickReg</h1>
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}! Your user_type is:
  {% if user.user_type == 0 %}
  student.
  Your advising status is: {{ adv_status }}
  {% elif user.user_type == 1 %}
  teacher.
  {% else %}
  Crystal.
  {% endif %}
  </p>
{% if user.user_type == 0 %}
  {% if adv_status == 0 %}
  <a href= {% url 'submit_advising' %}>submit advising form</a> 
  {% else %}
  <a href = {% url 'view_advising' %}>view advising form</a>
  {% endif %}
  <button>request appointment</button>
{% else %}
  <button>awaiting advisement<button>
  <button>my appointments</button>
{% endif %}
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">sign up</a>
{% endif %}
{% endblock %}