{% extends 'base.html' %}
    {% block content %}
    <div style='center-div'>
        <h1>Current Submission</h1>
        <ul>
            <li>Semester: {{ semester }}</li>
            <li>Major: {{ major }}</li>
            <li>QPA: {{ QPA }}</li>
            <li>GPA: {{ GPA }}</li>
            <li>Currently Enrolled: {{ currently_enrolled }}</li>
            <li>Completed Courses: {{ completed_courses }}</li>
            <li>Total Credits: {{ total_credits }}</li>
            <li>Date Submitted: {{ date_submitted }}</li>
        </ul>
    </div>
    <form method="POST">
    {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href={% url 'home' %}>Back</a>
    {% endblock %}