{% extends 'base.html' %}

{% block title %}View Appointments{% endblock %}
{% block content %}
<div class='container-fluid'>
    {% if appts %}
        <table class='table'>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Owner</th>
        </tr>
        {% for x in appts %}
             <tr>
                <td>{{x.date}}</td>
                <td>{{x.start_time}} - {{x.end_time}}</td>
                <td>{{x.owner}}</td>
             </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class='alert alert-secondary' role='alert'>You have no scheduled appointments</div>
    {% endif %}
        <a href={% url 'request_appointment' %} class='btn btn-primary' role='button'>Request Appointment</a>
        <a href={% url 'home' %} class='btn btn-primary' type='button'>Cancel</a>
</div>
{% endblock %}




